@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500;700&display=swap');

body {
    background-color: #0f1923;
    color: #ece8e1;
    font-family: 'Oswald', sans-serif;
    min-height: 100vh;
    overflow-x: hidden;
}

.bracket-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 40px;
    min-width: 1600px;
    background-image: radial-gradient(#bd3944 1px, transparent 1px);
    background-size: 30px 30px;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 850px;
    width: 220px;
}

.center-final {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slot {
    background: #1f2326;
    border: 1px solid #333;
    min-height: 54px;
    width: 100%;
    display: flex;
    align-items: center;
    transition: 0.3s;
    position: relative;
}

.team-card {
    background: #ff4655;
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    cursor: grab;
    font-weight: bold;
    font-size: 1.1rem;
    user-select: none;
}

.team-card img {
    width: 35px;
    height: 35px;
    margin-right: 12px;
    background: white;
    object-fit: cover;
    border: 1px solid #fff;
}

.match-group {
    border: 1px solid #444;
    background: rgba(0,0,0,0.4);
    padding: 4px;
    margin-bottom: 20px;
    border-radius: 4px;
}

/* ส่วนจัดการแผงควบคุมแอดมิน */
#toggle-admin, #admin-panel {
    display: none; /* ซ่อนเป็นค่าเริ่มต้น */
}

body.admin-verified #toggle-admin {
    display: block; /* แสดงเมื่อผ่านรหัสผ่าน */
}

body.admin-verified #admin-panel {
    display: block;
    background: #161d24;
    border-right: 3px solid #ff4655;
    height: 100vh;
    overflow-y: auto;
    padding: 20px;
    position: fixed; 
    left: 0;
    top: 0;
    z-index: 40;
    transition: transform 0.3s ease-in-out;
}

#admin-panel.hidden-panel {
    transform: translateX(-320px); /* เลื่อนซ่อนไปทางซ้าย */
}

.input-card {
    background: #1f2326;
    padding: 10px;
    margin-bottom: 12px;
    border-radius: 4px;
    border-left: 3px solid #444;
}

input[type="text"] {
    background: #0f1923;
    border: 1px solid #333;
    color: white;
    width: 100%;
    padding: 6px 10px;
    font-size: 14px;
    margin-bottom: 8px;
    outline: none;
}